# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/LaboratorCPP/v17/Browse.VC.db
.vs/LaboratorCPP/v17/Browse.VC.db-shm
.vs/LaboratorCPP/v17/Browse.VC.db-wal
.vs/LaboratorCPP/v17/Browse.VC.opendb
.vs/LaboratorCPP/v17/Browse.VC.db
.vs/LaboratorCPP/v17/Browse.VC.opendb
.vs/LaboratorCPP/v17/Browse.VC.db-shm
.vs/LaboratorCPP/v17/Browse.VC.db
.vs/LaboratorCPP/FileContentIndex/f4c3eaf7-cf0c-4dcb-964c-379e52ee0d44.vsidx
.vs/LaboratorCPP/FileContentIndex/cda95c56-a58a-46e6-8cf1-33903ff36ea5.vsidx
.vs/LaboratorCPP/FileContentIndex/600346b4-2201-4244-bef8-acf45a60bc3e.vsidx
.vs/LaboratorCPP/FileContentIndex/1d5a2726-7bde-43af-a649-b1336127c2fc.vsidx
